/SettingHelper/SettingHelper/nbproject/private/
/SettingHelper/SettingDemo/SettingDemo/nbproject/private/
/SettingHelper/SettingDemo/SettingDemo/build/
/POIHelper/POIHelper/nbproject/private/
/POIHelper/Demo/POIDemo/nbproject/private/
/POIHelper/Demo/POIDemo/build/
/POIHelper/Demo/POIDemo/dist/
/JWTHelper/JWTHelper/nbproject/private/
/CacheHelper/CacheHelper/nbproject/private/
/SecureHelper/SecureHelper/nbproject/private/
/SecureHelper/SecureHelper/build/
